<div class="interactPage" id="contactInteract">
<div class="interactContent">
<h1>Contact Us</h1>
<hr>
<h4>Got a burning question for our team? Ask away! </h4><br>
<%= form_for @contact, url: main_contact_path, local: true do |form| %>

  <div class="mb-3">
    <%= form.text_field :name, required: true, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="mb-3">
    <%= form.text_field :email, required: true, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="mb-3">
    <%= form.text_area :message, required: true, class: "form-control", placeholder: "Write your message here" %>
  </div>

  <!-- <div class="hidden mb-3">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "form-control", :hint => 'Leave this field blank!' %>
  </div> -->

  <%= hidden_field_tag :nickname %>

  <div class="mb-3">
    <%= form.submit 'Send Message', class: 'btn btn-primary', id: 'interactBtn' %>
  </div>

<% end %>
</div>
</div>
