<div class="interactPage">
<div class="interactContent">
  <h1>Login</h1>
  <hr>
  <h4>Sign into an existing account.</h4><br>

  <%= form_with url: login_path, local: true do |form| %>
    <div class="mb-3">

      <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>

    <div class="mb-3">

      <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
      <%= link_to "Forgot your password?", password_reset_path %>
    </div>

    <div class="mb-5">
      <%= form.submit "Login", class: "btn btn-primary", id: "interactBtn" %>
      <%= link_to "Sign Up", sign_up_path, class:"btn btn-secondary", id: "interactBtn" %>
    </div>
  <% end %>

  <div class="interact">
    <hr class="hr-text" data-content="OR">
    <br>
    <div class="d-inline-flex justify-content mb-3">
      <h4>Sign in with Twitter.&nbsp</h4><%= image_tag("twitter_logo.png", size: "30x30") %>
    </div>

    <%= button_to "Connect using Twitter" , "/auth/twitter", method: :post, class: "btn btn-primary", id: "interactBtn" %>
  </div>
</div>
</div>
